*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(187, 187, 187);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    transform: rotate(-28deg);
    text-align: center;
    font-size: 24px;
}
li{
    background-color: white;
    transform:skew(25deg,15deg) rotate(5deg);
    padding: 10px;
    position: relative;
    left: calc(100px * var(--i));
}
li:hover{
    background-color: var(--bg);
    color: white;
}
li::before{
    position: absolute;
    content: 'Z';
    color: transparent;
    background-color: white;
    height: 100%;
    left: -14.7px;
    top: 8.7px;
    transform: skewY(-50deg);
}
li:hover::before{
    background-color: var(--bg);
}
li::after{
    position: absolute;
    content: 'Z';
    color: transparent;
    background-color: white;
    width: 100%;
    bottom: -17.5px;
    left: -7.2px;
    transform: skew(-40deg);
    height: 17.5px;
}
li:hover::after{
    background-color: var(--bg);
}